nav.full-nav
  ul.full-nav__list
    li.full-nav__list-item
      a.full-nav__list-link(href="#") О компании
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Отзывы
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Вакансии
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Контакты

  ul.full-nav__list
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Услуги
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Инструкции
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Документы
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Тарифы

  ul.full-nav__list
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Личный кабинет
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Подключиться
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Техподдержка
    li.full-nav__list-item
      a.full-nav__list-link(href="#") База знаний

  ul.full-nav__list
    li.full-nav__list-item
      a.full-nav__list-link(href="tel:+79285066700") +7 (928) 506-67-00
    li.full-nav__list-item
      a.full-nav__list-link(href="#") Задать вопрос

  a(href="#").full-nav__btn Нравится
