mixin page-footer()

  footer.page-footer
    ul.page-footer__list
        li.page-footer__list-item
          a.page-footer__list-link(href="tel:+79285066700") +7 (928) 506-67-00
        li.page-footer__list-item
          a.page-footer__list-link(href="#") Задать вопрос
        li.page-footer__list-item
          a.page-footer__list-link(href="#") Личный кабинет
        li.page-footer__list-item
          a.page-footer__list-link(href="#") Поиск
    span.page-footer__copyright © 2016 Дагестанские компьютерные сети «ДагНет»
