.page-header {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.page-header--hidden .full-nav {
  display: none;
}

.page-header--shown .full-nav {
  display: block;
}
