extends layout/content.pug

include ../blocks/page-header/page-header.pug
include ../blocks/aside-panel/aside-panel.pug
include ../blocks/page-description/page-description.pug
include ../blocks/main/main.pug
include ../blocks/page-footer/page-footer.pug

block title
  title NKH

block pagecontent
  +page-header()

  +aside-panel()

  +page-description()

  +main()

  +page-footer()
