extends layout/content.pug

include ../blocks/header/page-header.pug
  include ../blocks/footer/main-nav.pug
  include ../blocks/inner/full-nav.pug
include ../blocks/inner/aside-panel.pug
include ../blocks/inner/page-description.pug
include ../blocks/inner/main.pug
include ../blocks/inner/page-footer.pug
