mixin aside-panel()

  aside.aside-panel
    div.aside-panel__logo-container
      img.aside-panel__logo-img(src="img/logo.png" alt="Dagnet logo" width="95" height="163")
    div.aside-panel__blocks
      div.aside-panel__block-1
      div.aside-panel__block-pop.aside-panel__block-pop--hidden
      div.aside-panel__block-2.aside-panel__block-2--toggle
