mixin page-description()

  section.page-description
    div.page-description__wrapper
      h1.page-description__header Безлимитный интернет
      b.page-description__caption DN-650 за 500 руб/мес
      span.page-description__speed Скорость входящего/исходящего канала, Кбит/с днем 12000, ночью 20000
      a(href="#").page-description__subscribe Подключиться
