.page-description {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row-span: 2;
  position: relative;
  z-index: 5;
  width: 325px;
  height: 750px;
  background-image: url("../img/top.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-x: 50%;
  transition: background-size 300ms;

  &:hover {
    background-size: auto 108%;
    transition: background-size 300ms;
  }
}

.page-description__wrapper {
  margin-top: 100px;
  padding-left: 24px;
  color: $white;
  transition: margin-top 300ms;
}

.page-description:hover .page-description__wrapper {
  margin-top: 90px;
  transition: margin-top 300ms;
}

.page-description__header {
  font-size: 16px;
  font-weight: normal;
}

.page-description__caption {
  display: block;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
}

.page-description__subscribe {
  position: relative;
  display: block;
  padding-top: 20px;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 129px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #759aab;
  }
}

.page-description__arrow {
  position: absolute;
  top: 27px;
  left: 136px;
  width: 11px;
  height: 10px;
  fill: $white;
}
