mixin page-description()

  section.page-description
    div.page-description__wrapper
      h1.page-description__header Безлимитный интернет
      b.page-description__caption DN-650 за 500 руб/мес
      span.page-description__speed Скорость входящего/исходящего канала, Кбит/с днем 14000, ночью 20000
      a(href="#").page-description__subscribe Подключиться
        svg.page-description__arrow(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 476.213 476.213', style='enable-background:new 0 0 476.213 476.213;', xml:space='preserve')
          polygon(points='345.606,107.5 324.394,128.713 418.787,223.107 0,223.107 0,253.107 418.787,253.107 324.394,347.5 \
          345.606,368.713 476.213,238.106 ')
