html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 1170px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ffffff;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 95px 325px 1fr;
  grid-template-rows: 647px 1fr;
  overflow: hidden;
}
