doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=1024")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    block title
    link(rel="stylesheet" href="css/style.css")

  body
    div.page-wrapper
      block pagecontent
    script(type="text/javascript" src="js/script.js")
