nav.main-nav
  button.main-nav__toggle(type="button") Весь сайт
  ul.main-nav__list
    li.main-nav__item
      a.main-nav__link(href="#") О компании
    li.main-nav__item
      a.main-nav__link(href="#") Техподдержка
    li.main-nav__item
      a.main-nav__link(href="#") Подключиться
