doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=1024")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title NKH
    link(rel="stylesheet" href="css/style.min.css")

  body
    header.page-header
      nav.main-nav
        button.main-nav__toggle(type="button") Весь сайт
        ul.main-nav__list
          li.main-nav__item
            a.main-nav__link(href="#") О компании
          li.main-nav__item
            a.main-nav__link(href="#") Техподдержка
          li.main-nav__item
            a.main-nav__link(href="#") Подключиться

      nav.full-nav
        ul.full-nav__list
          li.full-nav__list-item
            a.full-nav__list-link(href="#") О компании
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Отзывы
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Вакансии
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Контакты

        ul.full-nav__list
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Услуги
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Инструкции
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Документы
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Тарифы

        ul.full-nav__list
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Личный кабинет
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Подключиться
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Техподдержка
          li.full-nav__list-item
            a.full-nav__list-link(href="#") База знаний

        ul.full-nav__list
          li.full-nav__list-item
            a.full-nav__list-link(href="tel:+79285066700") +7 (928) 506-67-00
          li.full-nav__list-item
            a.full-nav__list-link(href="#") Задать вопрос

        a(href="#").full-nav__btn Нравится

    aside.aside-panel
      div.aside-panel__logo-container
        img.aside-panel__logo-img(src="" alt="" width="" height="")
      div.aside-panel__block-1
      div.aside-panel__block-pop
      div.aside-panel__block-2

    section.page-description
      div.page-description__wrapper
        h1.page-description__header Безлимитный интернет
        b.page-description__caption DN-650 за 500 руб/мес
        span.page-description__speed Скорость входящего/исходящего канала, Кбит/с днем 12000, ночью 20000
        a(href="#").page-description__subscribe Подключиться

    section.main
      a(href="#").main__btn
      div.main__block-1
        img.amain__block-1-img(src="" alt="" width="" height="")
      div.main__block-2
      div.main__block-3
        div.main__block-3-sub1
        div.main__block-3-sub2
      div.main__block-4
      div.main__block-5
      div.main__block-6
      div.main__block-7

    footer.page-footer
      ul.page-footer__list
          li.page-footer__list-item
            a.page-footer__list-link(href="tel:+79285066700") +7 (928) 506-67-00
          li.page-footer__list-item
            a.page-footer__list-link(href="#") Задать вопрос
          li.page-footer__list-item
            a.page-footer__list-link(href="#") Личный кабинет
          li.page-footer__list-item
            a.page-footer__list-link(href="#") Поиск
      span.page-footer__copyright © 2016 Дагестанские компьютерные сети «ДагНет»
